html
{
	overflow: hidden;
}

img
{
	cursor: pointer;
}

.red_bar
{
	position: relative;
	top: 240px;
	position: absolute;	
	display: block;
	width: 2000px;
	height: 280px;
	left: 2000px;
	background-color: red;
}

.circle
{
	border-radius: 50%;;
	width: 255px;
	height: 255px;	
	display: inline-block;
	background-color: rgb(102,102,102);
	border: 4px solid rgb(48,48,48);
}

#about
{
	color: black;
	font-size: 154px;
	text-decoration: none;
	position: relative;
	top: 110px;
	cursor: pointer;	
}

div
{
	border: 0px solid white;	
}

.center_content
{
	text-align: center;
	overflow-y: hidden;	
	height: 496px;	
}

.rank_tag
{
	font-size: 38px;
	position: relative;
	top: 45px;
	left: 9px;
	color: white;
}

.rank {
	font-size: 97px;
	position: relative;
	top: 115px;
	left: -16px;
	color: white;
}

.bar
{
	left: 2000px;
	padding: 100px 0 100px 0;
	vertical-align: middle;		

}

.bar table
{
	margin: 0 auto;
}

.bar td
{
	width: 255px;
}

.menu_icon
{
	display: inline-block;
	width: 255px;
	height: 255px;
	text-decoration: none;
	background-color: black;
}
.menu_icon a
{
	display: inline-block;	
}
.menu_icon#egg
{
	background: url('/assets/egg.png');
}
.menu_icon#egg:hover
{
	background-position: 0 255px;
}
.menu_icon#puzzle
{
	background: url('/assets/puzzle.png');
}
.menu_icon#puzzle:hover
{
	background-position: 0 255px;
}

.menu_icon#flag
{
	background: url('/assets/flag.png');
}
.menu_icon#flag:hover
{
	background-position: 0 255px;
}
.menu_icon#fist
{
	background: url('/assets/fist.png');
}
.menu_icon#fist:hover
{
	background-position: 0 255px;
}
