::-webkit-scrollbar 
{ 
	display: none; 
}

html, body
{
	height: 98%;
	overflow: hidden;
	overflow-y: scroll;
}

legend
{
	font-size: 20px;
	color: white;
	float: right;
}

#sandbox
{	
	width: 1060px;
	height: 400px;
	margin: 0 auto;	
}

#container
{
	width: 10000px;
	margin-top: 95px;
	position: absolute;
}

.circle
{
	border-radius: 50%;	
	border: 5px solid grey;
	display: inline-block;
	position: relative;
	left: 1080px;
	z-index: 1;
	margin: 0;
	float: left;
	background-color: #CCCCCC;
	background-origin: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: 90%;
	-moz-background-size: 90%;
	-o-background-size: 90%;
	background-size: 90%;
}
.circle.big
{
	width: 300px;
	height: 300px;
	top: -50px;	
}
.circle.small
{
	width: 190px;
	height: 190px;	
}

.arrow
{
	display: inline-block;
	position: relative;
	width: 80px;
	height: 100%;
	background-color: grey;
	z-index: 2;
	opacity: 0.3;
	cursor: pointer;
}
.arrow:hover
{
	opacity: 0.5;
}
.arrow.left
{
	float: left;
}
.arrow.right
{
	float: right;
}








