html, body
{
	overflow-x: hidden;
}

#solve_tag
{
	float: left;
	position: relative;
	z-index: 2;
}

#solve_tag:hover
{
	opacity: 0.1;
}

.red_bar
{	
	position: absolute;	
	display: none;
	top: 240px;
	width: 100%;
	height: 280px;
	left: 2000px;
	background-color: red;
	z-index: 4;
	text-align: center;
	vertical-align: middle;
}
.red_bar b
{
	color: white;
	font-size: 200px;
	position: relative;
	top: 120px;
}

.panel
{
	display: inline-block;
	width: 500px;
	height: 500px;
	border-radius: 10px;
	background-color: grey;
	opacity: 1;
}

#question
{

}

#output-notepad
{
	overflow: hidden;
	height: 500px;
}

#notepad
{
	background-color: grey;
	display: inline-block;
	position: relative;
	z-index: 2;
}

#output
{
	display: inline-block;	
	position: relative;
	top: -500px;
	z-index: 1;
}

#ace_code, #question_code, #opponent_code
{
	background-color: black;
	border-radius: 10px;
	border: 1px solid black;
	width: 100%;
	height: 100%;
	text-align: left;
	color: rgb(40, 254, 20);
	font-size: 13px;
	border-radius: 10px;
	z-index: 1;
}

#lang_bar
{
	position: relative;	
	top: -67px;
	width: 470px;
	z-index: 2;
}
#lang_bar ul
{ 
	background-color: gold;
	overflow: hidden;
	list-style-type: none;
	margin: 0px;
	height: 30px;
	width: 300px;
	padding-left: 10px;
}
#lang_bar li 
{ 
	float: left;
	width: 90px;
	height: 30px;
	font-size: 20px;
	height: 100%;
	text-align: center;
	padding-top: 4px;
}

#lang_bar li.selected
{
	background-color: orange;
}

.SolveButton
{
	position: relative;
	top: -29px;
	width: 70px;
}

.homebrew
{
	background-color: black;
	border-radius: 10px;
	border: 1px solid black;
	width: 97%;
	height: 50%;
	margin-top: 4px;
	font-family: monaco;
	color: rgb(40, 254, 20);
	font-size: 13px;
}

#pacman
{	
	position: absolute;	
	top: 230px;
	left: 180px;
	display: none;
}

#pacman i
{
	color: Lime;
}