
.panel
{
	display: inline-block;
	width: 500px;
	height: 500px;
	border-radius: 10px;
	background-color: grey;
}

#question
{

}

#notepad
{
	background-color: grey;	
}

#code
{
	background-color: black;
	border-radius: 10px;
	border: 1px solid black;
	width: 97%;
	height: 97%;
	margin-top: 4px;

	color: rgb(40, 254, 20);
	font-size: 13px;
}

#lang_bar
{
	width: 100%;
	height: 30px;	
	position: relative;
	top: -60px;
	left: -10px;	
	background-color: black;
}
#lang_bar ul
{ 
	background-color: gold;
	overflow: hidden;
	list-style-type: none;
	margin: 0px;
	height: 30px;
	width: 300px;
	padding-left: 10px;
}
#lang_bar li 
{ 
	float: left;
	width: 90px;
	height: 30px;
	font-size: 20px;
	height: 100%;
	text-align: center;
	padding-top: 4px;
}

#lang_bar li.selected
{
	background-color: orange;
}

.SolveButton
{
	position: relative;
	top: -29px;
	width: 70px;
}

.homebrew
{
	background-color: black;
	border-radius: 10px;
	border: 1px solid black;
	width: 97%;
	height: 50%;
	margin-top: 4px;

	color: rgb(40, 254, 20);
	font-size: 13px;
}





