<style>
	#map
	{
		border-color: white;
		display: inline-block;
		position: relative;
	}
	#map td
	{
		width: 35px;
		height: 35px;
		background-color: rgb(84, 84, 84);
		text-indent: 90px;
	}
</style>
<table id='map'></table>
<script src="/assets/map.js?body=1" type="text/javascript"></script>