<style type="text/css">
.scroller
{
	height: 108px;
	width: 247px;
	overflow-y: hidden;
}
.digit
{
	display: inline-block;
	position: relative;	
}
.number
{
	font-size: 100px;
	font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: lightgrey;
	margin: 0px 0px 90px 0px;
	border: 0px solid white;
	padding: 0px;
}
div
{
	border: 1px solid white;
}
</style>

<script src="/assets/scroller.js?body=1" type="text/javascript"></script>

<div class='scroller'>
	<div class='digit'>
		<p>#</p>
		<p class='number'>0</p>
		<p class='number'>1</p>
		<p class='number'>2</p>
		<p class='number'>3</p>
		<p class='number'>4</p>
		<p class='number'>5</p>
		<p class='number'>6</p>
		<p class='number'>7</p>
		<p class='number'>8</p>
		<p class='number'>9</p>
	</div>
	<div class='digit'>
		<p>#</p>
		<p class='number'>0</p>
		<p class='number'>1</p>
		<p class='number'>2</p>
		<p class='number'>3</p>
		<p class='number'>4</p>
		<p class='number'>5</p>
		<p class='number'>6</p>
		<p class='number'>7</p>
		<p class='number'>8</p>
		<p class='number'>9</p>
	</div>
	<div class='digit'>
		<p>#</p>
		<p class='number'>0</p>
		<p class='number'>1</p>
		<p class='number'>2</p>
		<p class='number'>3</p>
		<p class='number'>4</p>
		<p class='number'>5</p>
		<p class='number'>6</p>
		<p class='number'>7</p>
		<p class='number'>8</p>
		<p class='number'>9</p>
	</div>
	<div class='digit'>
		<p>#</p>
		<p class='number'>0</p>
		<p class='number'>1</p>
		<p class='number'>2</p>
		<p class='number'>3</p>
		<p class='number'>4</p>
		<p class='number'>5</p>
		<p class='number'>6</p>
		<p class='number'>7</p>
		<p class='number'>8</p>
		<p class='number'>9</p>
	</div>
</div>