
html
{
	height: 99%;
}

::-webkit-scrollbar 
{ 
	display: none; 
}


::-moz-scrollbar 
{ 
	display: none; 
}

body
{
	background-color: black;
	/*background-color: lightgrey;*/
	height: 97%;
}

.console
{
	background-color: Black;
	color: #55D839;
	width: 500px;
	height: 240px;    
	border-color: black;
	font-size: 19px;
}

.center_content
{
	text-align: center;
	overflow-y: hidden;	
	height: 396px;
}

.center_content div
{
	position: relative;
	top: 0px;
}

.arrow
{
	opacity: 0.5;
}

.arrow:hover
{
	opacity: 1;
}


.SolveButton {
	border-top: 1px solid #ff0000;
	background: #7a0000;
	background: -webkit-gradient(linear, left top, left bottom, from(#f71818), to(#7a0000));
	background: -webkit-linear-gradient(top, #f71818, #7a0000);
	background: -moz-linear-gradient(top, #f71818, #7a0000);
	background: -ms-linear-gradient(top, #f71818, #7a0000);
	background: -o-linear-gradient(top, #f71818, #7a0000);
	padding: 5.5px 11px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 12px;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
}
.SolveButton:hover {
	border-top-color: #690404;
	background: #690404;
	color: #ccc;
}
.SolveButton:active {
	border-top-color: #661818;
	background: #661818;
}


.superShadow {
  text-shadow:     0 1px 0 hsl(174,5%,80%),
	                 0 2px 0 hsl(174,5%,75%),
	                 0 3px 0 hsl(174,5%,70%),
	                 0 4px 0 hsl(174,5%,66%),
	                 0 5px 0 hsl(174,5%,64%),
	                 0 6px 0 hsl(174,5%,62%),
	                 0 7px 0 hsl(174,5%,61%),
	                 0 8px 0 hsl(174,5%,60%),
	
	                 0 0 5px rgba(0,0,0,.05),
	                0 1px 3px rgba(0,0,0,.2),
	                0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.2),
	              0 10px 10px rgba(0,0,0,.2),
	              0 20px 20px rgba(0,0,0,.3);
}


.boxShadow
{
	box-shadow: 
}
